#carta{
    width: 90%;
    margin: auto;
}
.foto{
    width: 150px;
    height:150px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}

.icons-container {
    padding:3px;
    text-align: right;
    justify-content: right;
    float: right;
    margin-right: 10px;
}
#lapiz{
    margin-right: 5px;
}
.añadirC{
    text-align: center;
}
.titulo{
    text-align: center;
}
#save{
    text-align: center;
}
#bhome{
    text-align: center;
}